.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

.button {
  margin: 10px auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}